:root{
	--mainColor:#000000;
	--secondaryColor:#131516;

	--borderColor:#16191a;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#000000;


}