:root{
	--mainColor:#c8f20c;
	--secondaryColor:#90ce00;

	--borderColor:#000000;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(181, 214, 60, 0.8);
	--previewShadow:#5d8c21;


	--buttonColor:#a8dc1b;


}