:root{
	--mainColor:#591218;
	--secondaryColor:#ca2020;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(118, 43, 43, 0.8);
	--previewShadow:#613232;


	--buttonColor:#1a0708;


}