 {% extends 'base.html' %}%}
{% load static %}
 {%  block content %}

	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>I Spent 80% of my time on problem solving.. I have discovered i dont need to know something
						before getting it done. Started coding at the age of 13.. Now i  made computer my best friend
					</p>

					<p>While I keep busy teaching courses, I still take interviews in search of a great team & a</p>
					<p>Trust me i am always ready to learn.</p>


					<hr>

					<h4>TOP EXPERTISE</h4>

					<p>Fullstack developer / Web3 developer</p>

					<div id="skills">
						<ul>
							<li>Python</li>
							<li>Django</li>
							<li>JavaScript</li>
							<li>Postgresql</li>
							<li>Aws</li>
							<li>Blockchain(Web3)- Expert</li>
							<li>Mobile app developer(react native)</li>
							
						</ul>

						<ul>
							<li>Data Analytics/Data Science</li>
							<li>Fastapi</li>
							<li>2d Animator</li>
							<li>Heroku</li>
							<li>HTML/CSS</li>
							<li>Bot Creator</li>
							<li>Node/express js</li>
							
						</ul>

					</div>

				</div>

				
				<div class="social-links">
					<img id="social_img" src="{% static  'images/my-flyer.png' %}">
					<a href=""><h3>Click to Hire Me</h3><a>

					<a target="_blank" href="https://www.youtube.com/channel/UCjMC36DPlFslbEN-Yucuubg">YouTube: @Gilberto Diamond</a>
					<br>
					<a target="_blank" href="https://api.whatsapp.com/send?phone=2349132166076">whatsapp: Click Let's chat</a>
				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">My Projects</h3>

			<div class="post-wrapper">

				<div>
					<div class="post">
						<img class="thumbnail" src="{% static 'images/Capture.PNG' %}">
						<div class="post-preview">
							<h6 class="post-title">Fullstack Ecommerce Website</h6>
							<p class="post-intro">
							   This is a full-stack ecommerce website, built with Django and React, that involves webscraping for a wide range of products.

							</p>
							<a href="https://gilish-tech.netlify.app/">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="{% static  'images/gilslotbanner.PNG' %}">
						<div class="post-preview">
							<h6 class="post-title">Animation Website  </h6>
							<p class="post-intro">A simple Basic Animation Website developed.. integrated JavaScript from other Website to make this work.. cloned!!</p>
							<a href="https://gilish-tech-animation.netlify.app">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="{% static   'images/gilishtokenpic.PNG' %}">
						<div class="post-preview">
							<h6 class="post-title">Simple Web3 project</h6>
							<p class="post-intro">Decentralized finance app(DEFI)</p>
							<a href="https://gilish-tech-dapp.netlify.app">Read More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	{%  endblock %}

	